.player::before {
  content: '';
  position: absolute;
  border: 20px solid transparent;
  border-left-color: black;
  border-width: 10px 14px;
}

.player[data-moving=true]::before {
  animation: mouth-moving .1s linear 0s infinite alternate;
}

@keyframes mouth-moving {
  to {
    border-top-width: 0px;
    border-bottom-width: 0px;
  }
}

.player {
  transition: transform ease .2s, top linear .2s, left linear .2s;
}

.player[data-direction="top"] {
  --angle: 90deg;
}
.player[data-direction="right"] {
  --angle: 180deg;
}
.player[data-direction="bottom"] {
  --angle: 270deg;
}
.player[data-direction="left"] {
  --angle: 360deg;
}